# SonarQube Environment Variables
SONARQUBE_PORT={{ sonarqube_port }}
SONARQUBE_DOMAIN={{ sonarqube_domain }}

# Database Configuration
DB_NAME={{ sonarqube_db_name }}
DB_USERNAME={{ sonarqube_db_user }}
DB_PASS={{ sonarqube_db_password }}

# Admin Email
ADMIN_EMAIL={{ letsencrypt_email }}
